@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <header class="top-row px-4">
            <span class="version-badge">Scanitech 5.0</span>
            <a href="https://scanitech.dk" target="_blank">Support</a>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    En uventet fejl er opstået.
    <a href="" class="reload">Genindlæs</a>
    <a class="dismiss">🗙</a>
</div>