<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Scanitech Danmark</a>
    </div>
</div>

<div class="nav-scrollable" onclick="OnLinkClicked">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Oversigt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="solutions">
                <span class="bi bi-gear-wide-connected" aria-hidden="true"></span> Løsninger
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="support">
                <span class="bi bi-headset" aria-hidden="true"></span> Support & Tickets
            </NavLink>
        </div>
    </nav>
</div>