<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    @* Statiske web assets (Renere og mere fejlsikker syntaks) *@
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Scanitech_Frontend.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet />
</head>

<body>
    <Routes />

    @* Henter Blazor's framework script *@
    <script src="_framework/blazor.web.js"></script>
</body>

</html>